<script type="text/template" id="frontend_toolbar">
  <footer>
  <a class="editing-mode">Mode edition</a>
  <a class="save">Sauvegarder</a>
  <a class="cancel">Annuler</a>
  <% if @page %>
    <%= link_to 'Modifier la page', edit_page_path(@page), remote: true %>
  <% end %>
  <%= link_to 'Ajouter une page', new_page_path, remote: true %>
  </footer>
</script>

<div id="modalContainer"></div>
